
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	width: 100%;
	height: 100%;


}

body a {
	text-decoration: none;
	color: white;
}


#c0x-1, #c0x0, #c-1x0, #c-2x0, #c-3x0, #c1x0, #c2x0, #c3x0, #c0x1, #c-1x1, #c-2x1, #c-3x1, #c1x1, #c2x1, #c3x1, #c0x2, #c-1x2, #c-2x2, #c-3x2, #c1x2, #c2x2, #c3x2, #c0x3, #c-1x3, #c-2x3, #c-3x3, #c1x3, #c2x3, #c3x3 {
	width: 100%;
	height: 100%;
	position: fixed;
	display: table;
	text-align: center;
	background-size: cover;
	-moz-background-size: cover;
	/* -ms-behavior: url(css/backgroundsize.min.htc); */
	background-position: center;
	top: auto;
	bottom: 0%;
	left: auto;
	right: 0%;
}

.center {
	display: inline !important;
	z-index: 1;
}


#footer{
}


/*
*
* Individual Square Styles.
*
*/

	/* INFO PAGE */
#c0x-1 {
	background-image: url( ../img/backgrounds/0x-1.png );
	display: none;
}
	/* ORIGIN */
#c0x0{
	background-image: url( ../img/backgrounds/0x0.png );
	display: none;
}

	/* LEVEL 0 LEFT 1 */
#c-1x0{
	background-image: url( ../img/backgrounds/-1x0.png );
	background-size: initial;
	-moz-background-size: initial;
	display: none;
}
	/* LEVEL 0 LEFT 2 */
#c-2x0{
	background-image: url( ../img/backgrounds/-2x1.png );
	display: none;
}
	/* LEVEL 0 LEFT 3 */
#c-3x0{
	background-image: url( ../img/backgrounds/-3x1.png );
	display: none;
}
	/* LEVEL 0 RIGHT 1 */
#c1x0{
  background-image: url( ../img/backgrounds/1x0.png );
	display: none;
}
	/* LEVEL 0 RIGHT 2 */
#c2x0{
	background-image: url( ../img/backgrounds/2x1.png );
	display: none;
}
	/* LEVEL 0 RIGHT 3 */
#c3x0{
	background-image: url( ../img/backgrounds/3x1.png );
	display: none;
}
	/* LEVEL 1 ORIGIN */
#c0x1{
	background-image: url( ../img/backgrounds/0x1.png );
	display: none;
}
	/* LEVEL 1 LEFT 1 */
#c-1x1{
	background-image: url( ../img/backgrounds/-1x1.png );
	display: none;
}
	/* LEVEL 1 LEFT 2 */
#c-2x1{
	background-image: url( ../img/backgrounds/-2x1.png );
	display: none;
}
	/* LEVEL 1 LEFT 3 */
#c-3x1{
	background-image: url( ../img/backgrounds/-3x1.png );
	display: none;
}
	/* LEVEL 1 RIGHT 1 */
#c1x1{
	background-image: url( ../img/backgrounds/1x1.png );
	display: none;
}
	/* LEVEL 1 RIGHT 2 */
#c2x1{
	background-image: url( ../img/backgrounds/2x1.png );
	display: none;
}
	/* LEVEL 1 RIGHT 3 */
#c3x1{
	background-image: url( ../img/backgrounds/3x1.png );
	display: none;
}
	/* LEVEL 2 ORIGIN */
#c0x2{
	background-image: url( ../img/backgrounds/0x2.png );
	display: none;
}
	/* LEVEL 2 LEFT 1 */
#c-1x2{
	background-image: url( ../img/backgrounds/-1x2.png );
	display: none;
}
	/* LEVEL 2 LEFT 2 */
#c-2x2{
	background-image: url( ../img/backgrounds/-2x2.png );
	display: none;
}
	/* LEVEL 2 LEFT 3 */
#c-3x2{
	background-image: url( ../img/backgrounds/-3x2.png );
	display: none;
}
	/* LEVEL 2 RIGHT 1 */
#c1x2{
	background-image: url( ../img/backgrounds/1x2.png );
	display: none;
}
	/* LEVEL 2 RIGHT 2 */
#c2x2{
	background-image: url( ../img/backgrounds/2x2.png );
	display: none;
}
	/* LEVEL 2 RIGHT 3 */
#c3x2{
	background-image: url( ../img/backgrounds/3x2.png );
	display: none;
}
 	/* LEVEL 3 ORIGIN */
#c0x3{
	background-image: url( ../img/backgrounds/0x3.png );
	display: none;
}
	/* LEVEL 3 LEFT 1 */
#c-1x3{
	background-image: url( ../img/backgrounds/-1x3.png );
	display: none;
}
	/* LEVEL 3 LEFT 2 */
#c-2x3{
	background-image: url( ../img/backgrounds/-2x3.png );
	display: none;
}
	/* LEVEL 3 LEFT 3 */
#c-3x3{
	background-image: url( ../img/backgrounds/-3x3.png );
	display: none;
}
	/* LEVEL 3 RIGHT 1 */
#c1x3{
	background-image: url( ../img/backgrounds/1x3.png );
	display: none;
}
	/* LEVEL 3 RIGHT 2 */
#c2x3{
	background-image: url( ../img/backgrounds/2x3.png );
	display: none;
}
	/* LEVEL 3 RIGHT 3 */
#c3x3{
	background-image: url( ../img/backgrounds/3x3.png );
	display: none;
}

/*
*
* Navigation Arrow Positioning
*
*/

.goup {
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%
}

.godown {
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
}

.goleft {
	position: absolute;
  top: 46%;
}

.goright {
  position: absolute;
  right: 0;
  top: 46%;
}

#arrowblock {
	left: 0;
	position: absolute;
	padding-left: 1%;
	margin-top: 0.5%;
	font-weight: bold;
}


/*
*
* Overlay Map Styles
*
*/

#map {
	display: none;
	background-color: rgba(255, 255, 255, .5);
	width: 80%;
	height: 70%;
	position: absolute;
	z-index: 3;
	padding: 5%;
	margin: 5%;
	overflow: hidden;
}

#c0x-1map, #c0x0map, #c-1x0map, #c-2x0map, #c-3x0map, #c1x0map, #c2x0map, #c3x0map, #c0x1map, #c-1x1map, #c-2x1map, #c-3x1map, #c1x1map, #c2x1map, #c3x1map, #c0x2map, #c-1x2map, #c-2x2map, #c-3x2map, #c1x2map, #c2x2map, #c3x2map, #c0x3map, #c-1x3map, #c-2x3map, #c-3x3map, #c1x3map, #c2x3map, #c3x3map {
	width: 10%;
	height: 10%;
	border: 2px solid;
	border-radius: 6px;
	color: #000;
	display: inline-block;
}
