/*
*
* Demo CSS
*
*/

#gettingStartedContent {

  width: 80%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-top: 50px;
  overflow-y: scroll;
  height: 580px;
}

.code {

  background: lightgray;
  padding: 20px;
  text-align: left;

}
